body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 16px;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 40ch;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Arial', sans-serif;
}

button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 80ch;
  margin: 0 auto;
}

li {
  margin: 8px 0;
  padding: 20px;
  border: solid 1px #ccc;
  position: relative;
}

li p {
  white-space: pre-wrap;
  margin-top: 10px;
}

.editButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #676767;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#filterContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  width: 100%;
  max-width: 50ch; 
  margin: 20px auto;
}

#filterContainer input {
  flex: 3; 
  padding: 8px;
  font-size: 16px;
}

#filterContainer button {
  flex: 1; 
  padding: 8px;
  font-size: 16px;
}

@media (max-width: 600px) {
  main form,
  #filterContainer,
  ul {
    width: 90%;
  }

  header,
  footer {
    padding: 10px;
  }

  button {
    padding: 6px 12px;
  }

  li {
    padding: 15px;
  }

  .editButton,
  .deleteButton {
    padding: 3px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  main form,
  #filterContainer,
  ul {
    width: 70%;
  }

  header,
  footer {
    padding: 15px;
  }

  button {
    padding: 7px 14px;
  }

  li {
    padding: 18px;
  }

  .editButton,
  .deleteButton {
    padding: 4px;
  }
}
